REDIS_PASSWORD=

#USED FOR PRODUCTION
GOOGLE_CLIENT_ID=xxxxx
GOOGLE_CLIENT_SECRET=xxxxx
#USED FOR DEVELOPMENT
DEV_GOOGLE_CLIENT_ID=xxxxx
DEV_GOOGLE_CLIENT_SECRET=xxxxx

#USED FOR PRODUCTION
GITHUB_CLIENT_ID=xxxxxxx
GITHUB_CLIENT_SECRET=xxxxxxx
#USED FOR DEVELOPMENT
DEV_GITHUB_CLIENT_ID=xxxxx
DEV_GITHUB_CLIENT_SECRET=xxxxx

#USED FOR PRODUCTION
FACEBOOK_CLIENT_ID=xxxxxxx
FACEBOOK_CLIENT_SECRET=xxxxxxx
#USED FOR DEVELOPMENT
DEV_FACEBOOK_CLIENT_ID=xxxxx
DEV_FACEBOOK_CLIENT_SECRET=xxxxx

#USED FOR PRODUCTION
DISCORD_CLIENT_ID=xxxxxxx
DISCORD_CLIENT_SECRET=xxxxxxx
#USED FOR DEVELOPMENT
DEV_DISCORD_CLIENT_ID=xxxxx
DEV_DISCORD_CLIENT_SECRET=xxxxx

# --- MONGODB ---
DATABASE_URL="mongodb://root:password@localhost:27017/databaseName?authSource=admin&replicaSet=rs0"