:root {
  /* Light theme variables */
  --sb-width: 8px;
  --sb-thumb-color: #ffffff;
  --sb-thumb-hover-color: #ffffff;
}

.dark {
  /* Dark theme variables */
  --sb-thumb-color: #a3a3a3;
  --sb-thumb-hover-color: #6b6b6b;
}

/* Global scrollbar styling */

/* For modern browsers (WebKit-based like Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: var(--sb-width);
  height: var(--sb-width);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sb-thumb-color);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--sb-thumb-hover-color);
}

::-webkit-scrollbar-button {
  display: none;
}
